<div class ="big-container">

  <div class="booking-index-container">

      <h2>My bookings</h2>
      <br>

    <% @bookings.each do |booking| %>
      <div class="booking-by-me-card">
        <div class="card border-light mb-3" style="max-width: 18rem;">
          <div class="card-header"><strong>Status:</strong> <%= link_to booking.status, booking_path(booking) %></div>
          <div class="card-body">
          <h5 class="card-title"><%= booking.band.name %></h5>
          <p class="card-text">
          <strong>Start:</strong> <%= booking.time_start %><br>
          <strong>End:</strong> <%= booking.time_end %><br>
          <strong>Venue:</strong> <%= booking.address %><br>
          <strong>Price:</strong> $<%= booking.total_price %>
          <br>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>

  <div class="booking-index-container">
    <% if current_user.bands.any? %>

      <h2>Bookings <br>for my band(s)</h2>

    <% current_user.bands.each do |band| %>
      <br>
      <h4><%= band.name %></h4>
      <br>
      <% bookings_for_me = band.bookings %>
      <% if bookings_for_me.empty? %>
        <p>No bookings :(</p>

      <% else %>
      <% bookings_for_me.each do |booking| %>
          <div class="booking-for-me-card">
            <div class="booking-for-me-content-container">
              <div class="card border-light mb-3" style="max-width: 18rem;">
                <div class="card-header">
                  <strong>Status:</strong> <%= link_to booking.status, booking_path(booking) %>
                </div>
                <div class="card-body">
                  <h5 class="card-title"> <p><strong>From: </strong><%= booking.user.full_name %></p></h5>
                  <p class="card-text">
                    <strong>Start:</strong> <%= booking.time_start %>
                    <br>
                    <strong>End:</strong> <%= booking.time_end %>
                    <br>
                    <strong>Venue:</strong> <%= booking.address %>
                    <br>
                    <strong>Price:</strong> $<%= booking.total_price %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
