<div class="booking-index-container d-flex justify-content-around">
  <div class="bookings-by-me">
    <div class="header-container">
      <h2 class="text-center">My bookings</h2>
    </div>
    <% @bookings.each do |booking| %>
      <div class="booking-by-me-card d-flex justify-content-around">
        <div class="card border-light mb-3">
          <div class="card-header text-center"><strong>Status:</strong> <%= link_to booking.status, booking_path(booking) %>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center"><strong><%= booking.band.name %></strong></h5>
            <h6 class="card-title text-center"><%= booking.address %></h6>
            <p class="card-text text-center">
              <br><%= booking.time_start %>
              <br><strong>to</strong><br>
              <%= booking.time_end %>
              <br><br>
              <strong>Price</strong><br> $<%= booking.total_price %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="bookings-for-me">
    <% if current_user.bands.any? %>
      <div class="header-container">
        <h2 class="text-center">Bookings for my band(s)</h2>
      </div>

      <% current_user.bands.each do |band| %>
        <h4 class="text-center"><%= band.name %></h4>
        <% bookings_for_me = band.bookings %>
        <% if bookings_for_me.empty? %>
          <p class="text-center">No bookings :(</p>
        <% else %>
          <% bookings_for_me.each do |booking| %>
            <div class="booking-for-me-card">
              <div>
                <div>
                  <div class="card-header">
                    <strong>Status:</strong> <%= link_to booking.status, booking_path(booking) %>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"> <p><strong>From: </strong><%= booking.user.full_name %></p></h5>
                    <p class="card-text">
                      <p><%= booking.time_start %> <b>to</b> <%= booking.time_end %></p>
                      <strong>Venue:</strong> <%= booking.address %>
                      <strong>Price:</strong> $<%= booking.total_price %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
