<h2>Booking for <%= link_to @booking.band.name, band_path(@booking.band) %></h2>
<p>Booking id: <%= @booking.id %></p>
<p>By: <%= @booking.user.full_name %></p>
<p>Start: <%= @booking.event_start %></p>
<p>End: <%= @booking.event_end %></p>
<p>Venue: <%= @booking.address %></p>
<p>Total price: $<%= @booking.total_price %></p>

<p>Status: <%= @booking.status.capitalize %></p>

<% if @booking.status == Booking.statuses.keys[0] %>
  <% if policy(@booking).edit? %>
    <%= simple_form_for [@band, @booking] do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: Booking.statuses.keys[1] } %>
      <%= f.submit 'Accept' %>
    <% end %>
    <%= simple_form_for [@band, @booking] do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: Booking.statuses.keys[2] } %>
      <%= f.submit 'Reject' %>
    <% end %>
  <% end %>
<% end %>

<% if @booking.latitude && @booking.longitude %>
  <div
    id="map"
    style="width: 300px;
    height: 500px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
<% end %>


<%= link_to 'Back to bookings', bookings_path %>
