<div class="container">
  <div class="booking-container">
    <div class="booking-header d-flex justify-content-between align-items-center">
      <h2>Booking for <%= link_to @booking.band.name, band_path(@booking.band) %></h2>
      <%= link_to 'Back to bookings', bookings_path %>
    </div>

    <% if @booking.latitude && @booking.longitude %>
      <div class="booking-map"
        id="map"
        style="width: 100%;
        height: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    <% end %>

    <div class="booking-content">
      <div class="card-confirmation border-light my-5 mx-auto text-center">
        <div class="card-header">CONFIRMATION FORM</div>
        <div class="card-body text-secondary text-center">
        <h5 class="card-title"></h5>
        <p class="card-text">
          <h5 class="booking-content-font">Time</h5> <p><%= @booking.time_start %> to <%= @booking.time_end %></p>
          <h5 class="booking-content-font">Venue</h5>
          <p><%= @booking.address %></p>
          <h5 class="booking-content-font">Booked by</h5>
          <p><%= @booking.user.full_name %></p>

          <h5 class="booking-content-font">Total price</h5>
          <p>$<%= @booking.total_price %></p>
          <h5 class="booking-content-font">Status</h5>
          <p><%= @booking.status.capitalize %></p>
        </p>
          <% if @booking.status == Booking.statuses.keys[0] || true %>
            <% if policy(@booking).edit? || true %>
              <div class="booking-buttons d-flex justify-content-center my-5">
                <%= simple_form_for [@band, @booking] do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: Booking.statuses.keys[1] } %>
                  <%= f.submit 'Accept', class: "btn btn-success mr-4" %>
                <% end %>
                <%= simple_form_for [@band, @booking] do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: Booking.statuses.keys[2] } %>
                  <%= f.submit 'Reject', class: "btn btn-danger" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
