<h1> Create a Band </h1>
 <%= simple_form_for @band do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.button :submit, :class => "btn btn-primary" %>
<%=link_to "Back", root_path, class: "btn btn-primary"%>
<% end %>
</div>
