<h2><%= @band.name %></h2>
<% if policy(@band).edit? %>
    <%= link_to 'Edit band', edit_band_path(@band) %>
    <p><%= link_to 'Delete band', band_path(@band), method: :delete, data: { confirm: 'Delete this band?' } %></p>
<% end %>

<p>$<%= @band.price %></p>
<p><%= @band.description %></p>

<p><%= link_to 'Book this band', new_band_booking_path(@band) %></p>


