<div class="container" style="background-color: white; width: 500px; margin-top: 100px; margin-bottom: 100px; padding: 30px">

    <div class = "column">

      <br>
      <h1><%= @band.name%></h1>
      <br>
      <h2><%= @band.jazz_type %></h2>
      <div></div>
      <%= cl_image_tag band_image(@band), class: "show-image" %>

  <br>
  <h4 style="margin-top: 30px">Price</h4>
  <p>$<%=@band.price%> per hour</p>

  <br>
  <h4>Description</h4>
  <p><%= @band.description%></p>
  <br>

  <h4>Music samples</h4>
  <% unless @band.video_url == '' %>
    <iframe width="420" height="315"
      src=<%= @band.youtube_url %>>
    </iframe>
  <% end %>
  <% unless @band.audio.url.nil? %>
    <audio controls="true" src="<%= cloudinary_url @band.audio.url, resource_type: "video" %>"></audio>
  <% end %>
  <br>

  <br>
  <h4>Reviews</h4>
  <% if @band.reviews.empty? %>
    <p>No reviews yet.</p>
  <% else %>
    <% @band.reviews.each do |review| %>
      <div class="band-review">
        <div class="rating">
          <% review.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
        <p><em>"<%= review.content %>"</em> - <%= review.user.full_name %></p>
      </div>
    <% end %>
  <% end %>
  <br>

  <% if @band.tag_list.empty? %>
    No tags to show.
  <% else %>
    <p><b>Tags: </b><% @band.tag_list.each do |tag| %><%= link_to tag, tagged_path(tag: tag) %><% end %></p>
  <% end %>


  <% if policy(@review).new? %>
    <%= link_to 'Leave a review', new_band_review_path(@band) %>
  <% end %>

  <%=link_to "Back", bands_path, class: "btn btn-primary"%>

  <% if policy(@band).edit? %>
    <%= link_to 'Edit', edit_band_path(@band), class: "btn btn-primary" %>
  <% end %>

  <% if policy(@band).destroy? %>
    <%= link_to 'Delete', band_path(@band), method: :delete, data: { confirm: 'Delete this band?' } %>
  <% end %>

  <% unless @band.user == current_user %>
    <p><%= link_to 'Book this band', new_band_booking_path(@band), class: "btn btn-primary mt-2" %></p>
  <% end %>

  </div>
</div>
